.sidebar-about h1 {
	font-size: 2.5rem;
}

p {
	text-align: justify;
}

.langlinks a {
	color: rgba(255,255,255,.5) !important;
}

aside {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

aside img {
	width: 9vw;
}

aside img:hover {
  box-shadow: 5px 5px white;
}

